.Norvbar{
    background-color: #1688C8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
}
.NorvCont{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.NorvCont a{
    text-decoration: none;
    color: white;
}
.NorvCont a.active{
    background-color: #35475CFF;
}
.NorvCont a{
    padding: 10px 20px;
    border-radius: 50px;
}