.post{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 9fr;
}
.Mini-avik{
    width: 60px;
    border: 2px orange solid;
    border-radius: 100%;
}
.welc{
    grid-column: 1/3;
}
.post-name{
    grid-column: 2/3;
    text-align: left;
}