.wrapper{
  display: grid;
  grid-template-areas: "h h" "n m";
  margin: auto;
  width: 75%;
  color: white;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 10vh 85vh;
  grid-gap: 20px;
}
*{
  box-sizing:border-box;
  --MainColor:#5380B4FF; 
}
body{
  background-image: url(./components/img/MessageBackground.jpg);
}
.Header{
  grid-area: h;
}
.Main{
  grid-area: m;
}
.Norvbar{
  grid-area: n;
}