.dialogs{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 30px;
}
.dialogList{
    background-color: #1688C8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
}
.dialogList-container{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.dialogList-container a{
    text-decoration: none;
    color: white;
}
.dialogList-container a.active{
    background-color: #35475CFF;
}
.dialogList-container a{
    padding: 10px 20px;
    border-radius: 50px;
}